#placeDetail {
  width: 280px;
  height: 350px;
  margin: 10px;
  margin-top: 50px;
  font-family: "Nanum Gothic", sans-serif;
}
#placeDetail h1 {
  font-weight: bold;
  font-size: 24px;
  line-height: 2;
}
#placeDetail h2 {
  font-weight: 500;
  font-size: 20px;
}
.place_title {
  width: 250px;
  display: inline-block;
  border-bottom: 1.5px solid #cdcdcd;
}
#closeButton {
  width: 30px;
  float: right;
  font-size: 30px;
  text-align: center;
  line-height: 1.5;
  color: #cdcdcd;
  cursor: pointer;
}
.info_row {
  width: 100%;
  margin: 10px 0;
}
.place_rating {
  margin: 15px 0;
  display: inline-block;
}
.place_rating i {
  color: #faeb78;
  margin: 0 5px;
}
.place_isOpen {
  float: right;
  margin: 7px 0;
  margin-right: 20px;
}

.place_isOpen img {
  width: 95px;
}

#placeDetail span {
  width: 25px;
  height: 20px;
  display: inline-block;
  margin: 15px 5px 15px 10px;
  vertical-align: top;
}

#placeDetail span i {
  background: linear-gradient(to right, #37ecba, #72afd3);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 20px;
}

.place_info {
  display: inline-block;
  margin: 10px 0;
  width: 200px;
  font-size: 14px;
  font-weight: 200;
  line-height: 20px;
  padding: 5px 0 5px 10px;
  border-left: 2px solid #dfdfdf;
}
