#placeDetail {
  width: 330px;
  margin: 10px;
  font-family: "Nanum Gothic", sans-serif;
  position: absolute;
  z-index: 2;
  background-color: #fff;
}
#placeDetail h1 {
  font-weight: bold;
  font-size: 20px;
  line-height: 2;
  margin: 20px 0;
}
#placeDetail h2 {
  font-size: 16px;
}

.wrap_placeDetail {
  width: 350px;
}

.place_title {
  width: 300px;
  display: inline-block;
  margin: 10px;
}
#closeButton {
  cursor: pointer;
  position: absolute;
  left: 320px;
  margin-top: -11px;
  z-index: 1;
}

.closeText {
  position: absolute;
  left: 35px;
}

.info_row {
  width: 100%;
  margin-bottom: 1px;
}
.place_rating {
  margin: 15px 0;
  display: inline-block;
}
.place_rating i {
  color: #faeb78;
  margin: 0 8px;
}
.place_isOpen {
  float: right;
  margin: 0 50px;
}

.place_isOpen img {
  height: 50px;
}

.icon {
  width: 30px;
  height: 20px;
  display: inline-block;
  margin: 15px 5px 15px 0px;
  vertical-align: top;
  text-align: left;
}

#placeDetail span i {
  /* background: linear-gradient(to right, #37ecba, #72afd3);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  color: #aaaaaa;
  font-size: 20px;
}

.info_block {
  padding: 5px;
  border-top: 1.2px solid #efefef;
}

.place_info {
  display: inline-block;
  margin: 10px 0;
  width: 200px;
  font-size: 14px;
  font-weight: 200;
  line-height: 25px;
  padding: 5px 0 5px 10px;
  text-align: left;
}

.place_info span {
  display: inline-block;
}
