@import url(https://fonts.googleapis.com/css2?family=Jua&family=Nanum+Gothic&display=swap);
/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */

#map_wrap {
  width: calc(100% - 350px);
  height: 100%;
  float: left;
}

#map {
  height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Nanum Gothic", sans-serif;
}
#description {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}

#infowindow-content .title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
}

.pac-card {
  margin: 10px 10px 0 0;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  font-family: Roboto;
}

#pac-container {
  padding-bottom: 12px;
  margin-right: 12px;
}

.pac-controls {
  display: inline-block;
  padding: 5px 11px;
}

.pac-controls label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

#title {
  color: #fff;
  background-color: #4d90fe;
  font-size: 25px;
  font-weight: 500;
  padding: 6px 12px;
}
#target {
  width: 345px;
}

/* http://meyerweb.com/eric/tools/css/reset/ 

   v2.0 | 20110126

   License: none (public domain)

*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";

  content: none;
}

table {
  border-collapse: collapse;

  border-spacing: 0;
}

.blind {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  width: 1px;
  height: 1px;
}

button {
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 600;
  resize: none;
}

#mainLogo img {
  margin: 10px;
  margin-top: 40px;
  width: 200px;
}

#searchBar {
  width: 350px;
  height: 100%;
  text-align: center;
  float: left;
  background-color: #efefef;
}

#searchBar button {
  width: 50px;
  height: 50px;
  display: inline-block;
  margin: 10px;
  border-radius: 30px;
  justify-content: center;
  color: #fff;
}

.category {
  margin: 0 5px;
  text-align: center;
}

#cafe {
  background-color: #96c7cb;
}
#restaurants {
  background-color: #89cdb8;
}
#bakery {
  background-color: #95d8ad;
}
#market {
  background-color: #b4eaae;
}
#shopping_mall {
  background-color: #e2d4a3;
}
#hospital {
  background-color: #cf88b4;
}
#pharmacy {
  background-color: #c490d0;
}
#bank {
  background-color: #b38edb;
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 5px 11px 5px 13px;
  margin: 20px;
  text-overflow: ellipsis;
  width: 240px;
  border: 1px solid #dcdcdc;
  border-radius: 30px;
}

#pac-input:focus {
  box-shadow: 1px 1px 8px 1px #dcdcdc;
}

@media screen and (max-width: 800px) {
  #searchBar {
    width: 30%;
  }
  #pac-input {
    width: 50%;
    display: block;
  }
}

#searchDetail {
  position: absolute;
  width: 50%;
  height: 60px;
  z-index: 1;
  right: 10%;
  background-color: rgba(256, 256, 256, 0.7);
  text-align: center;
  bottom: 30px;
}

#searchDetail button {
  display: inline-block;
  width: fit-content;
  height: 40px;
  font-size: 15px;
  margin: 10px;
  padding: 0px 15px;
  border-radius: 30px;
}

#timeBar {
  display: inline-block;
  margin: 0px 20px;
}

#timeSelection {
  border: 1px solid #cdcdcd;
  border-radius: 30px;
  padding: 5px;
  padding-left: 15px;
  margin-right: -35px;
  position: relative;
  z-index: 3;
}
#setTimeButton {
  border: 1px solid #cdcdcd;
  width: 50px !important;
  height: 30px !important;
  padding-right: 0 !important;
  color: #ffffff;
  background-image: linear-gradient(to right, #37ecba, #72afd3);
}
#closeAll {
  width: 10px;
  height: 10px;
  float: right;
}

@media screen and (max-width: 800px) {
  #searchDetail {
    width: 100px;
    height: fit-content;
    text-align: left;
    left: 35%;
  }
  #searchDetail button {
    display: block;
    font-size: 1.4vw;
  }
  #timeSelection {
    width: 50px;
  }
  #timeBar {
    text-align: initial;
  }
  #setTimeButton {
    width: 30px !important;
  }
}

.popup_wrap {
  cursor: auto;
  height: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
}

.popup {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -100%);
  background-color: white;
  border-radius: 3px;
  font-family: sans-serif;
  overflow-y: auto;
  border: 1px solid #cdcdcd;
  box-shadow: 0px 1px 0px 0px rgba(150, 150, 150, 0.5);
}
.popup-anchor {
  position: absolute;
  width: 100%;
  bottom: 1px;
  left: 0;
}
.popup-anchor::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, 0);

  width: 22px;
  height: 12px;
  background: url("https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png");
}
.info_title {
  border-bottom: 1px solid #cdcdcd;
  padding: 10px;
  font-size: 16px;
  font-weight: BOLD;
  color: darkslateblue;
}
.place_name {
  display: inline-block;
  max-width: 140px;
}
.info_rest {
  margin: 5px;
  padding: 7px;
  font-size: 14px;
}
.more_detail {
  width: 25px;
  height: 25px;
  float: right;
  border: 1px solid #cdcdcd;
  border-radius: 30px;
  text-align: center;
  font-size: 20px;
  line-height: 1;
  cursor: pointer;
}
.more_detail:hover {
  background-image: linear-gradient(to right, #37ecba, #72afd3);
  color: #ffffff;
}

#placeDetail {
  width: 330px;
  margin: 10px;
  font-family: "Nanum Gothic", sans-serif;
  position: absolute;
  z-index: 2;
  background-color: #fff;
}
#placeDetail h1 {
  font-weight: bold;
  font-size: 20px;
  line-height: 2;
  margin: 20px 0;
}
#placeDetail h2 {
  font-size: 16px;
}

.wrap_placeDetail {
  width: 350px;
}

.place_title {
  width: 300px;
  display: inline-block;
  margin: 10px;
}
#closeButton {
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 35px;
  font-size: 25px;
  text-align: right;
  line-height: 2.2;
  color: #ffffff;
  cursor: pointer;
  background-color: #bcbcbc;
  position: absolute;
  left: 310px;
  margin-top: 12px;
  z-index: 1;
}
.info_row {
  width: 100%;
  margin-bottom: 1px;
}
.place_rating {
  margin: 15px 0;
  display: inline-block;
}
.place_rating i {
  color: #faeb78;
  margin: 0 8px;
}
.place_isOpen {
  float: right;
  margin: 0 50px;
}

.place_isOpen img {
  height: 50px;
}

#placeDetail span {
  width: 30px;
  height: 20px;
  display: inline-block;
  margin: 15px 5px 15px 0px;
  vertical-align: top;
  text-align: left;
}

#placeDetail span i {
  /* background: linear-gradient(to right, #37ecba, #72afd3);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  color: #aaaaaa;
  font-size: 20px;
}

.info_block {
  padding: 5px;
  border-top: 1.2px solid #efefef;
}

.place_info {
  display: inline-block;
  margin: 10px 0;
  width: 200px;
  font-size: 14px;
  font-weight: 200;
  line-height: 25px;
  padding: 5px 0 5px 10px;
}



